<!-- from app.component.ts -->
<h1>{{ title }}</h1>

<!-- <input type="text"
       [value]="newTodo"
       (keyup)="onKeyup($event)"> -->
<input type="text"
       [(ngModel)]="newTodo">
 :: {{ newTodo }}

<!-- Loop Array -->
<ul>
  <li *ngFor="let item of todos">
    <!-- [checked] :: push value completed on checkbox -->
    <input type="checkbox"
           [checked]="item.completed"
           (change)="item.completed = !item.completed">
    <!-- item | json :: show json string -->
    {{ item.title }}  (completed :  {{ item.completed }})
  </li>
</ul>

<p *ngIf="count > 0">LIKE : {{ count }}</p>
<button (click)="clickLike()">Like</button>
<button (click)="clickUnLike()">UnLike</button>